################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NutriTrack/FileContentIndex
.vs/NutriTrack/v17/.suo
.vs/NutriTrack/DesignTimeBuild/.dtbcache.v2
.vs/NutriTrack/v17/.futdcache.v2
.vs/NutriTrack/v17/.suo
.vs/ProjectEvaluation/nutritrack.metadata.v7.bin
.vs/ProjectEvaluation/nutritrack.projects.v7.bin
NutriTrackMVCApp/bin/Debug/net8.0/NutriTrackMVCApp.dll
NutriTrackMVCApp/bin/Debug/net8.0/NutriTrackMVCApp.exe
NutriTrackMVCApp/bin/Debug/net8.0/NutriTrackMVCApp.pdb
NutriTrackMVCApp/bin/Debug/net8.0/NutriTrackMVCApp.staticwebassets.runtime.json
NutriTrackMVCApp/obj/NutriTrackMVCApp.csproj.nuget.g.props
NutriTrackMVCApp/obj/project.nuget.cache
NutriTrackMVCApp/obj/Debug/net8.0/apphost.exe
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.AssemblyInfo.cs
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.AssemblyInfoInputs.cache
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.assets.cache
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.csproj.AssemblyReference.cache
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.csproj.CoreCompileInputs.cache
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.dll
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.GeneratedMSBuildEditorConfig.editorconfig
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.pdb
NutriTrackMVCApp/obj/Debug/net8.0/NutriTrackMVCApp.sourcelink.json
NutriTrackMVCApp/obj/Debug/net8.0/staticwebassets.build.json
NutriTrackMVCApp/obj/Debug/net8.0/staticwebassets.development.json
NutriTrackMVCApp/obj/Debug/net8.0/ref/NutriTrackMVCApp.dll
NutriTrackMVCApp/obj/Debug/net8.0/refint/NutriTrackMVCApp.dll
